@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo img{
    max-width: 250px;
    height: auto;
    vertical-align: middle;
}

.navmenu{
    display: flex;
}

.navmenu a{
    color: #333c56;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    color: #894020;
}

section{
    padding: 5% 10%;
}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(image/background/home-background.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h5{
    color: #894020;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1{
    color: #333c56;
    font-size: 35px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

.main-text p {
    color: #333c56;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn{
    display: inline-block;
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 10px 25px;
    transition: all .42s ease;
}

.main-btn:hover{
    background: black;
    color: white;
}

.main-btn i{
   vertical-align: middle;
}

.down-arrow{
    position: absolute;
    top: 85%;
    right: 5%
}

.down img{
    color: #333c56;
    border: 2px solid #333c56;
    border-radius: 50px;
    padding: 12px 12px;
}

.down img:hover{
    background-color: #333c56;
    color: white;
    transition: all .42s ease;
}

.row img{
   width: 50%;
}

header.sticky{
    background: white;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0 / 10%);
}

/*Reviews*/
.client-reviews{
    background-color: #f3f4f6;
}

.reviews{
    text-align: center;
}

.reviews h3{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

.reviews img{
    width: 300px;
    height: auto;
    margin: 10px 0;
}

.reviews p{
    color: #565656;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

/* update-section-css */

.up-center-text h2{
    text-align: center;
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 55px;
    margin-bottom: 10px;
}

.cart img{
    width: 380px;
    height: auto;
    border-radius: 5px;
}

.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px,auto));
    gap: 1rem;
}

.cart{
    padding: 5%;
}

.cart h5{
    color: #565656;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.cart h4{
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.cart p{
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
    text-align: justify;
}

/* Contact-section */
.contact{
    background-color: #f3f4f6;
}

.first-info img{
    width: 230px;
    height: auto;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}

.contact-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p:hover{
    color: #894020;
}

.third-info p a{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p a:hover{
    color: #894020;
}

.social-icon a img{
    width: 35px;
    color: #565656;
    margin-right: 10px;
    transition: all .42s;
}

.social-icon a img:hover{
    transform: scale(1.3);
}
